{% extends 'index.html' %}

{% block title %}ingress{% endblock %}

{% block css %}
<style>
    .layui-table-cell {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<span class="layui-breadcrumb">
  <a href="/">首页</a>
  <a href="#">负载均衡</a>
  <a><cite>Ingress</cite></a>
</span>

<hr class="layui-border-cyan">
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-row">
            <input type="text" name="name" class="layui-input" style="width: 150px;height: 30px;float: left;margin-right: 10px">
            <button class="layui-btn layui-btn-sm" lay-event="ingSearch" style="float: left" id="ingSearch">搜索</button>
            <button class="layui-btn layui-btn-sm" lay-event="ingAdd" style="float: right">新增</button>
        </div>
        <table id="ingTable" lay-filter="ingTable"></table>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/html" id="ingEdit">
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="ingYAML">查看YAML</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ingDel">删除</a>
</script>

<script>
layui.use('table', function(){
  var table = layui.table;
  var $ = layui.jquery;
  table.render({
    elem: '#ingTable'
    ,url: "{% url 'loadbalancer_ingresses_api' %}" //数据接口
    ,page: true //开启分页
    ,toolbar: '#ingTable' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,cols: [[ //表头
      {field: 'name', title: '名称', sort: true}
      ,{field: 'labels', title: '标签', templet: labelsFormat}
      ,{field: 'http_hosts', title: 'HTTP', templet: httpFormat}
      ,{field: 'https_hosts', title: 'HTTPS', templet: httpsFormat}
      ,{field: 'create_time', title: '创建时间'}
      ,{title:'操作', toolbar: '#ingEdit'}
    ]]
    ,id: 'ingTable'
    ,where: {
      namespace: sessionStorage.getItem('namespace')
    }
  });
  // 标签格式化
  function labelsFormat(d) {
    result = "";
    if (d.labels == null) {
        return "-"
    } else {
      for (let key in d.labels) {
        result += '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs">' + key + ':' + d.labels[key] + '</button><br>'
      }
      return result
    }
  }
  // 容器格式化
  function httpFormat(d){
    result = "";
    tmp = "";
    if (d.http_hosts == null) {
      return "-"
    } else {
      for (let h in d.http_hosts) {
        data = d.http_hosts[h];
        for (let p in data.path) {
          result += data.host + data.path[p].p_path + ' --> ' + data.path[p].p_svc_name + ':' + data.path[p].p_svc_port + '<br>'
        }
      }
    }
    return result
  }
  // 状态格式化
  function httpsFormat(d) {
    result = "";
    tmp = "";
    if (d.https_hosts == null) {
      return "-"
    } else {
      result +=  d.https_hosts.host + ' -> ' +  d.https_hosts.secret_name + '<br>'
    }
    return result
  }

  //监听行工具事件
  table.on('tool(ingTable)', function(obj){
    var data = obj.data;

    if(obj.event === 'ingDel'){
      layer.confirm('你真的要删除' + data.name + '吗?', function(index){
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
          type: "DELETE",
          url: "{% url 'loadbalancer_ingresses_api' %}",
          data: data,
          headers: {'X-CSRFToken': csrf_token},
          success: function (res) {
            if(res.code === 0){
              obj.del();  // 删除当前页面数据
              layer.msg(res.msg, {icon: 6, time: 3000})
            } else {
              layer.msg(res.msg, {icon: 5, time: 3000})
            }
          },
          error: function () {
            layer.open({
                type: 0,
                title: ['异常信息'],
                content: "服务器接口异常!"
            })
          }
        });
        layer.close(index);
      });
    } else if(obj.event === 'ingYAML'){
        // 查看YAML
        layer.open({
            title: "YAML"
            ,type: 2
            ,area: ["50%", "60%"]
            ,content: "{% url 'ace' %}?resource=ingress" + '&namespace=' + data.namespace + '&name=' + data.name
            ,scrollbar: false
            ,fixed: false
        })
    }
  });

  // 监听搜索事件
  $('#ingSearch').on('click', function () {
    var search_key = $('input[name="name"]').val();
    table.reload('ingTable', {
      where: {
        search_key: search_key
      } //设定异步数据接口的额外参数
    });
  })
});
</script>
{% endblock %}
