<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link href="{% static 'layui/css/layui.css' %}" rel="stylesheet">
    <script src="{% static 'layui/layui.js' %}"></script>
</head>
<body>
<div id="Cpv">
    {% csrf_token %}
    <form class="layui-form" action="" id="fpv">
      <div class="layui-form-item">
        <label class="layui-form-label">持久卷名称</label>
        <div class="layui-input-block">
          <input type="text" name="pvname" lay-verify="required" autocomplete="off" class="layui-input" style="width: 80%">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">存储类</label>
        <div class="layui-input-block">
          <input type="text" name="storageclassname" lay-verify="title" autocomplete="off" class="layui-input" style="width: 80%">
        </div>
      </div>
      <div class="layui-inline">
          <label class="layui-form-label">回收策略</label>
          <div class="layui-input-inline">
            <select name="reclaimpolicy" lay-verify="required">
              <option value="Retain" selected>保留（Retain）</option>
              <option value="Delete">删除（Delete）</option>
              <option value="Recycle">回收（Recycle）</option>
            </select>
          </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">容量</label>
        <div class="layui-input-block">
          <input type="radio" name="capacity" value="1Gi" title="1Gi" checked="" lay-filter="pvCapacityRadio">
          <input type="radio" name="capacity" value="5Gi" title="5Gi" lay-filter="pvCapacityRadio">
          <input type="radio" name="capacity" value="10Gi" title="10Gi" lay-filter="pvCapacityRadio">
          <input type="radio" name="capacity" value="20Gi" title="20Gi" lay-filter="pvCapacityRadio">
          <input type="radio" name="capacity" value="自定义" title="自定义" lay-filter="pvCapacityRadio" id="udefine">
          <input type="text" id="udefineC" name="ucapacity" lay-verify="ucapacity" placeholder="请输入大小" autocomplete="off" class="layui-input layui-hide">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">访问模式</label>
        <div class="layui-input-block">
          <input type="radio" name="accessmodes" value="ReadWriteOnce" title="ReadWriteOnce" checked="">
          <input type="radio" name="accessmodes" value="ReadOnlyMany" title="ReadOnlyMany">
          <input type="radio" name="accessmodes" value="ReadWriteMany" title="ReadWriteMany">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">持久卷类型</label>
        <div class="layui-input-inline">
          <select name="mounttype">
            <option value="">请选择类型</option>
            <option value="nfs" selected="">NFS</option>
          </select>
        </div>
        <div class="layui-input-inline">
          <select name="mounthost">
            <option value="">请选择主机</option>
            <option value="1" selected="">192.168.64.25</option>
          </select>
        </div>
        <div class="layui-input-inline">
          <div class="layui-input-inline">
            <input type="text" name="mountpath" lay-verify="path" placeholder="请输入路径, 如: '/'" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="pvCForm">立即提交</button>
          <button class="layui-btn layui-btn-primary" id="pvReset">重置</button>
        </div>
      </div>
    </form>
</div>

<script>
layui.use('form', function(){
  var form = layui.form;
  var t = 0
  form.on('submit(pvCForm)', function (data) {
    data = data.field;
    var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
    $.ajax({
        type: "POST",
        url: "{% url 'k8s_pv_api' %}",
        data: data,
        headers: {'X-CSRFToken': csrf_token},
        success: function (res) {
          if(res.code === 0){
            layer.msg(res.msg, {icon: 6, time: 3000})
          } else {
            layer.msg(res.msg, {icon: 5, time: 3000})
          }
        },
        error: function () {
          layer.open({
            type: 0,
            title: ['异常信息'],
            content: "服务器接口异常!"
          })
        }
    });
    return false;
  });

  form.on('radio(pvCapacityRadio)', function(data){
    if (data.value === '自定义') {
      if (t === 0){
        $('#udefineC').removeClass('layui-hide');
        t++;
      }
    } else {
        $('#udefineC').addClass('layui-hide');
        t = 0
    }

  });

  $('#pvReset').on('click', function () {
    location.reload();
  });


});
</script>

</body>
</html>